<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StormyWeather.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B5CE3B825F1BA8D009689BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B5CE3C925F1BA8E009689BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B5CE3D425F1BA8E009689BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
